@import '~@/config/web.scss';

.sider {
  //   margin-top: 68px;
  //   border-right: 1px solid #e8e8e8;
  z-index: 2;
  .menu{
    height: calc(100vh - 254px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  :global {
    .logo {
      margin-bottom: 50px;
      &.small {
        .image {
          background-size: 50px 50px;
        }
        .title,
        .tag {
          display: none;
        }
      }
      span {
        display: block;
      }
      .image {
        // margin-top: 20px;
        // background: url('~@/assets/basic/logo.png') center center / 60px 60px no-repeat;
        // height: 66px;
        @include logo-image;
      }
      .title {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;
        color: var(--title-color);
        transition: width 0.2s;
      }
      .tag {
        @include tag(#000, var(--tag-bg-color));
        // text-align: center;
        // margin: 0 auto;
        // color: #000;
        // width: 50px;
        // height: 20px;
        // line-height: 20px;
        // border-radius: 3px;
        // font-size: 12px;
        // background-color: var(--title-color);
      }
    }
    .ant-menu {
      li {
        // font-size: 15px;
        i.iconfont {
          margin-right: 4px;
          // font-size: 18px;
        }
      }
      &.ant-menu-inline-collapsed {
        li {
          i + span {
            display: none;
          }
        }
      }
    }
  }
}
// 收缩模式下悬浮框样式
:global {
  .ant-menu-inline-collapsed-tooltip {
    div {
      i.iconfont {
        margin-right: 4px;
      }
    }
  }
}
